In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in e:\anaconda\lib\site-packages (from yfinance) (1.2.4)
Collecting requests>=2.26
  Using cached requests-2.28.1-py3-none-any.whl (62 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in e:\anaconda\lib\site-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in e:\anaconda\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\anaconda\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in e:\anaconda\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in e:\anaconda\lib\site-packages (from requests>=2.26->yfinance) (1.26.4)
Collecting charset-normalizer<3,>=2
  Using cached charset_normalizer-2.1.0-py3-none-any.whl (39 kB)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda\lib\site-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\lib\site-packages (from requests>=2.26->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Installing collected packages: multitasking, charset-normalizer, requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
Successfully installed charset-normalizer-2.1.0 multitasking-0.0.11 requests-2.28.1 yfinance-0.1.74
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\appdata\roaming\python\python38\site-packages)
    WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\appdata\roaming\python\python38\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.9.1 requires ruamel-yaml, which is not installed.
WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\appdata\roaming\python\python38\site-packages)

In [3]:
import pandas as pd
import yfinance as yf

In [4]:
ticker = ["BTC-USD","ETH-USD","LTC-USD"]

In [5]:
yf.download("BTC-USD",period="max")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2022-08-06,23291.423828,23326.562500,22961.279297,22961.279297,22961.279297,15978259885
2022-08-07,22963.505859,23359.009766,22894.556641,23175.890625,23175.890625,15886817043
2022-08-08,23179.527344,24203.689453,23176.546875,23809.486328,23809.486328,28575544847
2022-08-09,23811.484375,23898.615234,22982.000000,23164.318359,23164.318359,23555719219
2022-08-10,23126.421875,24126.781250,22773.726562,23595.212891,23595.212891,29966811136

In [6]:
Crypto_Port = yf.download(ticker,start="2014-09-17",end="2022-07-17")

[*********************100%***********************]  3 of 3 completed

In [7]:
Crypto_Port

               Adj Close                                 Close               \
                 BTC-USD      ETH-USD    LTC-USD       BTC-USD      ETH-USD
Date
2014-09-17    457.334015          NaN   5.058550    457.334015          NaN
2014-09-18    424.440002          NaN   4.685230    424.440002          NaN
2014-09-19    394.795990          NaN   4.327770    394.795990          NaN
2014-09-20    408.903992          NaN   4.286440    408.903992          NaN
2014-09-21    398.821014          NaN   4.245920    398.821014          NaN
...                  ...          ...        ...           ...          ...
2022-07-12  19323.914062  1038.191650  47.542385  19323.914062  1038.191650
2022-07-13  20212.074219  1113.587158  49.563126  20212.074219  1113.587158
2022-07-14  20569.919922  1191.526245  51.218807  20569.919922  1191.526245
2022-07-15  20836.328125  1233.129150  51.798065  20836.328125  1233.129150
2022-07-16  21190.316406  1352.626465  55.125164  21190.316406  1352.626465

                               High                                   Low  \
              LTC-USD       BTC-USD      ETH-USD    LTC-USD       BTC-USD
Date
2014-09-17   5.058550    468.174011          NaN   5.170770    452.421997
2014-09-18   4.685230    456.859985          NaN   5.065430    413.104004
2014-09-19   4.327770    427.834991          NaN   4.755820    384.532013
2014-09-20   4.286440    423.295990          NaN   4.616080    389.882996
2014-09-21   4.245920    412.425995          NaN   4.300130    393.181000
...               ...           ...          ...        ...           ...
2022-07-12  47.542385  20043.445312  1097.259155  49.129192  19308.531250
2022-07-13  49.563126  20223.052734  1113.587158  49.563126  18999.953125
2022-07-14  51.218807  20789.894531  1202.953369  51.504189  19689.257812
2022-07-15  51.798065  21138.244141  1275.778198  52.445957  20397.000000
2022-07-16  55.125164  21514.404297  1377.944580  55.255428  20518.898438

                                            Open                          \
                ETH-USD    LTC-USD       BTC-USD      ETH-USD    LTC-USD
Date
2014-09-17          NaN   4.965950    465.864014          NaN   5.085890
2014-09-18          NaN   4.579960    456.859985          NaN   5.065430
2014-09-19          NaN   4.254350    424.102997          NaN   4.687290
2014-09-20          NaN   4.202190    394.673004          NaN   4.329200
2014-09-21          NaN   4.154990    408.084991          NaN   4.263070
...                 ...        ...           ...          ...        ...
2022-07-12  1038.135620  47.532364  19970.474609  1097.259155  48.774891
2022-07-13  1019.220337  46.662994  19325.972656  1038.186646  47.544437
2022-07-14  1077.405762  48.136143  20211.466797  1113.515747  49.559036
2022-07-15  1182.903198  50.814613  20573.156250  1191.674805  51.221443
2022-07-16  1195.605957  51.198593  20834.103516  1232.791626  51.794743

                 Volume
                BTC-USD       ETH-USD    LTC-USD
Date
2014-09-17     21056800           NaN    3071840
2014-09-18     34483200           NaN    4569260
2014-09-19     37919700           NaN    3917450
2014-09-20     36863600           NaN    5490660
2014-09-21     26580100           NaN    2931220
...                 ...           ...        ...
2022-07-12  25810220018  1.258328e+10  368912014
2022-07-13  33042430345  1.830259e+10  447352506
2022-07-14  31158743333  1.668864e+10  420169921
2022-07-15  25905575359  1.741145e+10  442039141
2022-07-16  24302954056  1.836401e+10  426040229

[2860 rows x 18 columns]

In [8]:
Crypto_Port.to_csv("Crypto_Port.csv")